{% extends "budzetapp/base.html" %}

{% block title %}bukaprzychody{% endblock %}
{% block href%}{% url 'userInterface' %}{%endblock%}
{% block cofnij%}Cofnij{%endblock%}
{% block podtytulstrony %}Transakcje{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<a id="prostokat3" href="{% url 'wykresy_filtrowanie' %}">Cofnij</a>
{% if listaTransakcji %}
<style>
    .obiekttransakcji{
        border-width: 15px;
    background-color: #FDF5E6;
    border-style:double;
    border-color: #F08080;
    margin-top: 5px;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    }
    .elementobiektu{
        display:inline-block;
        width:200px;
        border-style: none ridge none none;
        border-width: 15px;
        border-color: #F08080;
        padding:5px;
        text-align:center;
        height:100%;
    }
    .elementobiektuostatni{
        display:inline-block;
        width: max-content;
        height:100%;
        margin-top:auto;
        margin-bottom:auto;
        padding:5px;
    }
</style>
<div class="obiekttransakcji">
        <div class="elementobiektu">Typ:</div>
        <div class="elementobiektu">Kategoria:</div>
        <div class="elementobiektu">Suma:</div>
        <div class="elementobiektuostatni">Data:</div>
    </div>
{% for transaction in listaTransakcji %}
    <div class="obiekttransakcji">
        <div class="elementobiektu">{{transaction.type}}</div>
        <div class="elementobiektu">{{ transaction.category.name }}</div>
        <div class="elementobiektu">{{ transaction.sum }}</div>
        <div class="elementobiektuostatni">{{transaction.trans_date}}</div>
    </div>
{% endfor %}

<a class="formularz" href="{% url 'pdf' %}">Wygeneruj pdf</a>

{% else %}
    <p class="formularz">Użytkownik nie posiada żadnych transakcji</p>
{% endif %}
{% else %}
    <p id="prostokat1">You are not logged in</p>
    <a id="prostokat2" href="{% url 'login' %}">Zaloguj</a>
{% endif %}
{% endblock %}